---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Certifications from "../components/Certifications.astro";
import Projects from "../components/Projects.astro";
import "../styles/global.css";
---

<html>
  <head> 
    <title>Nazeem Basha | Full Stack Developer</title>
  </head>
  <body>
    <Header />
    <main>
      <About />
      <Skills />
      <Experience />
      <Projects />
      <Education />
      <Certifications />
    </main>
    <Footer />
  </body>
</html>
