<section id="education">
  <h2>Education</h2>
  <div>
    <h3>
      Jawaharlal Nehru Technological University College of Engineering,
      Anantapur
    </h3>
    <p>Bachelor of Technology, ECE | June 2019 - Feb 2023</p>
    <p>CGPA: 6.58</p>
  </div>
</section>
