<section id="experience">
  <h2>Professional Experience</h2>
  <div>
    <h3>Associate SDE-2 | Publicis Sapient</h3>
    <p>June 2022 - Present</p>
    <ul>
      <li>
        Developed micro front-ends with Angular and React for UPS's B2B
        websites, boosting user engagement.
      </li>
      <li>
        Resolved 350+ complex bugs in Sonar Qube, upgraded frameworks, and
        collaborated with backend teams.
      </li>
    </ul>
  </div>
  <div>
    <h3>SDE - Training</h3>
    <p>June 2022 - Jan 2023</p>
    <p>
      Completed extensive full-stack development training covering Java, Spring
      Boot, React, and AWS.
    </p>
  </div>
</section>
